<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.interfaceext.dao.InterfaceDao">
	
 	<select id="commentQuery" resultType="java.util.HashMap">
		<if test="action == 'test1'">
			SELECT * FROM `sys_menu`
			<where>
				<if test="name != null and name != ''"> and name like  '%${name}%' </if>
				<if test="menu_id != null and value != ''"> and menu_id = #{menu_id} </if>
			</where>
		</if>
		<if test="action == 'test2'">
			SELECT * FROM `sys_role`
		</if>
		<if test="action == 'test3'">
			SELECT * FROM `ac_platform_user`
		</if>
		<if test="action == 'oratest'">
			select count(1) cnt from bas_beds
		</if>

	</select>

</mapper>