<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.BasInterfaceDao">

	<select id="queryInterface" resultType="java.util.HashMap">
		SELECT
		  ID,
		  interface_action,
 		  interface_name,
 		  interface_ds_code,
 		  interface_comment,
 		  CREATE_DATE,
  		  CREATE_PERSON,
 		  UPDATE_DATE,
 		  UPDATE_PERSON
		FROM bas_interface
		WHERE interface_action  = #{action}
	</select>


</mapper>